{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tests/style.css' %}" />

<a href="{% url 'tests:list' %}">back</a>
<br/>
Test name: {{ test.test_name }}
<br />
<hr />
{% for task in test.tasks %}
  {% if task.task_type == 1 %}
    {# ugly #}
    {# Now we have MultipleChoiceTask #}
    Multiple choice task! Max points: {{ task.max_points }}<br />
    {% for question in task.mcquestion_set.all %}
      {{ question.question_text }}
      ({{ question.points }} points)
      <br />
      {% if question.mcquestionchoice_set.all.empty %}
      {% else %}
        <ol type="a">
        {% for choice in question.mcquestionchoice_set.all %}
          <li>
            <span class="{{ choice.correct|yesno:"correct,incorrect" }}">
            {{ choice.choice_text }}
            {{ choice.correct|yesno:"correct,incorrect" }}
            </span>
          </li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endfor %}
  {% elif task.task_type == 2 %}
    {# ugly #}
    {# Now we have FillInTask #}
    Fill In Task! Max points: {{ task.max_points }}<br />
  {% else %}
    UNKNOWN TASK: {{ task }}
  {% endif %}
  <hr />
{% endfor %}
