Test name: {{ test.test_name }}
<br />
<hr />
<form action="{% url 'tests:submit_test' test.id %}" method="post">
{% csrf_token %}
<label for="stud_name">Student name:</label>
<input type="text" name="stud_name" />
<br />
{% for task in test.tasks %}
  {% if task.task_type == 1 %}
    {# ugly #}
    {# Now we have MultipleChoiceTask #}
    Multiple choice task! Max points: {{ task.max_points }}<br />
    {% for question in task.mcquestion_set.all %}
      {{ question.question_text }}
      ({{ question.points }} points)
      <br />
      {% for choice in question.mcquestionchoice_set.all %}
      <input type="radio" name="mcquest:{{ question.id }}" id="mcchoice:{{ choice.id }}" value="{{ choice.id }}" />
        <label for="mcchoice:{{ choice.id }}">{{ choice.choice_text }}</label><br />
      {% endfor %}
    {% endfor %}
  {% elif task.task_type == 2 %}
    {# ugly #}
    {# Now we have FillInTask #}
    Fill In Task! Max points: {{ task.max_points }}<br />
  {% else %}
    UNKNOWN TASK: {{ task }}
  {% endif %}
  <hr />
{% endfor %}
<input type="submit" value="Submit" />
</form>
