{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>力心中文</title>
  <link rel="stylesheet" type="text/css" href="{% static 'titlepage/style.css' %}" />
</head>
<body>
  <div class="header">
    力心中文
  </div>

  <div class="column-main">
  <div class="newsbox">
  {% for news in news_list %}
    <div class="newsarticle">
      <span class="newsarticle-title">
        {{ news.title }}
      </span><br/>
      <span class="newsarticle-text">
        {{ news.text_english }}
      </span><br/>
      <div class="newsarticle-info">
        added on
        {{ news.date_created }}
        by
        {{ news.user_added }}
      </div> 
    </div>
  {% endfor %}
  </div>
  </div>
</body>
</html>
